nav.navbar.navbar-inverse.navbar-fixed-top:before {
  display: none;
}
.table > tbody > tr > td {
  vertical-align: middle;
}

.info-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle {
  cursor: pointer;
}

.photo-info-box {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.info-box-header {
  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.photo-info-box .box-inner {
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  padding: 6px;
}

.photo-info-box .box-inner .text {
  padding: 7px 9px 19px;
}

.photo-info-box .box-inner .data {
  font-weight: bold;
}

.photo-info-box .info-box-footer {
  border-top: 1px solid #ddd;
  background-color: #ddd;
  padding: 10px;
}

.admin-photo-thumbnail {
  width: 200px;
  border-radius: 5px;
}

.my-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-box-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.bg-active {
  background-color: black !important;
  color: white;
}

/** lightbox css **/

.modal-dialog {
  width: 90% !important;
  max-width: 100%;
  z-index: 1050;
}

.modal-body {
  overflow: auto;
  height: 500px !important;
  min-height: 300px !important;
}

.modal_thumbnails {
  width: 150px;
  height: 100px !important;
}

#set_user_image {
  margin: 10px;
}

#modal_sidebar {
  position: fixed !important;
}
.modal-backdrop.in {
  opacity: 0;
}

.apply_section {
  margin-right: 0;
}

/** lightbox css **/
.my-message {
  background-color: lightgreen;
  padding: 5px;
  border-radius: 5px;
}
